@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

* { font-family: "Gothic A1", sans-serif; }

a:link { color: black; text-decoration:none;}
a:visited { color: black; text-decoration:none;}
a:hover{ color: blue;}

body{
    margin: 0;
}


header > h1{
    font-size: 64px;
    text-align: center;
    background-color: rgb(220,218,178);
    padding: 30px 0;
    margin: 0;
}

nav .navi_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 10px;
    background-color: rgb(220,218,178);
    margin: 0 0 10px 0;
    padding: 10px 0;
    border-top: 1px solid rgb(102,102,102);
    border-bottom: 1px solid rgb(102,102,102);
}
div.navi{
    display: inline;
    padding: 0 10px;
}

.who{
    margin-top: 100px;
}

.who h1{
    margin-left: 10px;
}

.who blockquote{
    border: 1px solid rgb(220,218,178);
    border-left: 10px solid rgb(220,218,178);
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 20px;
    line-height: 150%;
    text-align: center;
    font-size: larger;
    color: rgb(102,102,102);
}


.ability{
    margin-top: 50px;
    margin-left: 10px;
}

.ability_.wrapper{
    height: 400px;
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-content: center space-evenly;
}

[class ^= ability_]{
    display: inline-block;
    margin: 100px;
}

#web{
    width: 50px;
}

.project{
    display: grid;
    margin-top: 50px;
    margin-left: 10px;
}

[class ^= project_]{
    display: flex;
    margin: 20px;
}

.hungry_map_img{
    width: 50%;
}

#time_table{
    font-size: 20px;
    width: 100%;
}
#footer_info{
    color: rgb(102,102,102);
    font-size: 13px;
    font-weight: lighter;
    margin-left: 10px;
}