
a:link { color: black; text-decoration:none;}
a:visited { color: black; text-decoration:none;}
a:hover{ color: blue;}

header h1{
    font-size: 70px;
}
#my_name{
    font-size: 40px;
    text-align: right;
}

.navi_wrapper{
    border-top-style: solid;
    border-bottom-style: solid;
}
.navi{
    padding-left: 10px;
    padding-right: 10px;
}

#time_table{
    font-size: 20px;
    width: 100%;
}
#footer_info{
    color: gray;
    font-size: 13px;
    font-weight: lighter;
}